body {
  background-color: #e3f6f5;
  color: #2d334a;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

h1 {
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2 {
  font-weight: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li::first-letter {
  text-transform: capitalize;
}

small {
  font-size: 14px;
}

a {
  color: #2d334a;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #ebc90a;
  background-color: none;
}

form {
  display: block;
  margin: 0 auto;
}

.row {
  justify-content: center;
}

.container {
  margin-top: 5%;
  max-width: 85%;
  margin-bottom: 5%;
}

.wrapper {
  background-color: #fffffe;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 7px;
  border: 1px solid #2d334a;
  border-radius: 5px;
}

small.about {
  font-size: 16px;
}

#result-weather-left {
  font-size: 32px;
  text-align: right;
  vertical-align: top;
}

#result-weather-right {
  font-size: 32px;
  text-align: left;
  padding-right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 0 0 0;
}

#result-details-left {
  font-size: 18px;
  text-align: right;
  line-height: 1.2;
  letter-spacing: 1px;
}

#result-details-right {
  font-size: 18px;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 1px;
}
.this-week {
  background-color: #e3f6f5;
  max-width: 55%;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
}

img.result-icon {
  height: 70px;
}

#temperature {
  font-size: 50px;
  font-weight: 400;
}

#units {
  font-size: 22px;
}

#description {
  font-size: 24px;
  margin: 0 auto;
  line-height: 26px;
  text-transform: capitalize;
}

div.form {
     align-items: center;
}

div.row {
  align-items: center;
}

.result-weather-right .active {
  text-decoration: none;
  color: #2d334a;
  font-weight: 100;
  cursor: default;
}

.result-weather-right .active:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #2d334a;
  font-weight: 100;
}

.btn {
  color: #2d334a;
  background-color: #ffd803;
  border-style: none;
  box-shadow: 5px 3px 5px #888888;
}

.btn:hover {
  background-color: #ffd90351;
  color: #2d334abf;
  border-style: none;
}

.weather-forecast {
  text-align: center;
  margin-bottom: 50px;
}

img.forecast-icon {
  max-width: 55px;
}

.weather-forecast-min {
  opacity: 0.5;
}
